@media (max-width: 768px) {
  :root {
    --gren-gray-scale-900: #002603;
    --gren-gray-scale-800: #173b1a;
    --gren-gray-scale-700: #2b572e;
    --gren-gray-scale-600: #406b42;
    --gren-gray-scale-500: #618062;
    --gren-gray-scale-400: #7a997c;
    --gren-gray-scale-300: #96b297;
    --gren-gray-scale-200: #b4ccb4;
    --gren-gray-scale-100: #dae5da;
    --gren-gray-scale-50: #edf2ee;
    --gray-scale-gray--800: #333;
    --gray-scale-gray--900: #1a1a1a;
    --gray-scale-gray--700: #4d4d4d;
    --gray-scale-gray--600: #666;
    --gray-scale-gray--500: #808080;
    --gray-scale-gray--400: #999;
    --gray-scale-gray--300: #b3b3b3;
    --gray-scale-gray--200: #ccc;
    --gray-scale-gray--100: #e6e6e6;
    --gray-scale-gray--50: #f2f2f2;
    --gray-scale-white: #fff;
    --branding-success-bright: #84d187;
    --branding-success: #00b207;
    --branding-success-dark: #2c742f;
    --branding-warning: #ff8a00;
    --branding-error: #ea4b48;
    --primary-font: "Poppins", sans-serif;
  }
  #second_header {
    box-shadow: rgba(100, 100, 111, 0.115) 0px 7px 29px 0px;
  }
  .offcanvas_menus {
    width: 85% !important;
  }
  /* nav */
  #nav {
    display: none;
  }
  /* mobile menu */
  .nav_categories {
    color: var(--gray-scale-gray--900);
  }
  .nav_categories.active {
    background: var(--branding-success) !important;
  }
  .nav_menu {
    color: var(--gray-scale-gray--900);
  }
  .nav_menu.active {
    background: var(--branding-success) !important;
  }
  /* modile menu list */

  .modile_menu_list .menu_button {
    border: 0;
    background: none;
    color: var(--gray-scale-gray--500);
    transition: 0.5s;
  }
  .modile_menu_list {
    display: block;
  }

  .modile_menu_list .btn.show {
    color: var(--gray-scale-white);
    background-color: var(--branding-success);
  }
  .modile_menu_list .dropdown-toggle::after {
    display: none;
  }
  .mobile-list-menu a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: var(--gray-scale-gray--500);
  }

  /* hero slider */
  
  #hero .slider {
    text-align: center ;
  }
  #hero .slider h2{
    font-size: 36px;
  }
  #hero .slider p{
    margin-bottom: 20px;
  }
  #hero .slick-dots{
    margin-top: 20px;
  }
}
