@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --gren-gray-scale-900: #002603;
  --gren-gray-scale-800: #173b1a;
  --gren-gray-scale-700: #2b572e;
  --gren-gray-scale-600: #406b42;
  --gren-gray-scale-500: #618062;
  --gren-gray-scale-400: #7a997c;
  --gren-gray-scale-300: #96b297;
  --gren-gray-scale-200: #b4ccb4;
  --gren-gray-scale-100: #dae5da;
  --gren-gray-scale-50: #edf2ee;
  --gray-scale-gray--800: #333;
  --gray-scale-gray--900: #1a1a1a;
  --gray-scale-gray--700: #4d4d4d;
  --gray-scale-gray--600: #666;
  --gray-scale-gray--500: #808080;
  --gray-scale-gray--400: #999;
  --gray-scale-gray--300: #b3b3b3;
  --gray-scale-gray--200: #ccc;
  --gray-scale-gray--100: #e6e6e6;
  --gray-scale-gray--50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --primary-font: "Poppins", sans-serif;
}
body {
  font-family: var(--primary-font);
}
/* ========================== CSS Header ======================== */
/* first */
#first_header {
  box-shadow: 0 1px 0 0 #e5e5e5;
  background: var(--gray-scale-gray--800);
}

#first_header .location {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray--300);
}

#first_header .header-dropdown {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 20px;
}
#first_header .header_a {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
}

#first_header .header-dropdown select {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: var(--gray-scale-gray--300);
  background: transparent;
  border: none;
  cursor: pointer;
}
#first_header .header_devider {
  font-size: 14px;
  color: var(--gray-scale-gray--300);
}
#first_header .header_a a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--gray-scale-gray--300);
  text-decoration: none;
}
/* second */
#second_header .logo-section span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: -0.03em;
  color: var(--gren-gray-scale-900);
  padding-left: 10px;
}
#second_header form {
  position: relative;
  display: flex;
}

#second_header form span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
#second_header form input {
  padding: 12px 44px;
  outline: none;
  border: 1px solid var(--gray-scale-gray--500);
  display: inline-block;
  width: 75%;
  border-radius: 10px 0 0 10px;
}
#second_header form button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  border: none;
  background: var(--branding-success);
  border-radius: 0 10px 10px 0;
  width: 20%;
  padding: 14px 24px;
}
#second_header .cards {
  position: relative;
}
#second_header .cards small {
  position: absolute;
  right: 0;
  border: 1px solid var(--gray-scale-white);
  border-radius: 16px;
  width: 18px;
  height: 18px;
  background: var(--branding-success-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: var(--gray-scale-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#second_header .bividar {
  border-right: 2px solid var(--gray-scale-gray--200);
  padding-right: 15px;
}
#second_header .mobile-menu {
  cursor: pointer;
}
/* Search Popup */
.search_popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 140px;
  left: 0;
  backdrop-filter: blur(5px);
  visibility: hidden;
  transition: 0.5s ease;
  opacity: 0;
}
.search_popup.search_popup_active {
  visibility: visible;
  opacity: 1;
}
.search_popup .container {
  background-color: var(--gray-scale-gray--50);
  /* margin-top: 3%; */
  overflow-y: auto;
  height: 100%;
  padding: 50px;
}
.search_popup .container .category_search_card {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.155) 0px 3px 8px;
  padding: 20px;
}
.search_popup .container .category_search_card h3 {
  font-size: 18px;
  color: var(--branding-success);
}
.search_popup .container .category_search_card p {
  font-size: 12px;
  color: var(--gray-scale-gray--900);
  /* margin-bottom: 0; */
}
.search_popup .container .category_search_card a {
  font-size: 15px;
  color: var(--gray-scale-gray--100);
  padding: 5px 10px;
  margin-top: 10px;

  text-decoration: none;
  background: var(--branding-success-dark);
}
.search_popup h4 {
  color: var(--branding-success);
  font-size: 20px;
  margin-bottom: 20px;
}
.search_popup ul li {
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}
.search_popup .search_close {
  position: absolute;
  top: 0px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: var(--branding-success);
  color: var(--gray-scale-gray--50);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: 0.5s ease;
}
.search_popup .search_close:hover {
  border-radius: 30%;
  background: var(--gray-scale-gray--50);
  color: var(--branding-success);
}
/* navbar dropdown */
#nav .nav_bar_dropdown button {
  border: none;
  background: var(--branding-success);
  border-radius: 0;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 17px 50px;
}
#nav .nav_bar_dropdown button::after {
  display: none;
}
#nav .nav_bar_dropdown_show.show {
  width: 100%;
  border: 0;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#nav .nav_menu_dropdown a {
  border: 0;
  border-radius: 0;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray--500);
}
#nav .dropdown-toggle::after {
  display: none;
}
#nav .nav_menu_dropdown_show.show {
  border: 0;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 20px;
}
#nav .nav_menu_dropdown_show a{
    color: var(--gray-scale-gray--900);
    margin: 5px 0;
    
  }
  #nav a{
    color: var(--gray-scale-gray--500);
  }
#nav .phone_number a{
  font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: var(--gray-scale-gray--900);
text-decoration: none;
}
#nav {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 0;
}